<mat-dialog-content>
    <button mat-icon-button mat-dialog-close class="cancel">
        <img src="../../assets/icon_close.svg" alt="">
    </button>
    <div class="title">
        <div class="icon">
                <img src="../../assets/phone_warning.svg" alt="">
        </div>
        <div class="details">
            <h2>เบอร์โทรศัพท์ไม่ตรงกับที่เคยให้ไว้</h2>
            <p>หากมีการเปลี่ยนเบอร์ กรุณาโทรติดต่อ
                เจ้าหน้าที่ เพื่อเปลี่ยนเบอร์โทรศัพท์</p>
        </div>
    </div>

    <mat-dialog-actions class="button">
        <button class="close" mat-dialog-close>ปิด</button>
        <a href="tel:+66-087-536-2220">
        <button class="call">
            
            <img src="../../assets/icon_phone.svg" alt="">
            โทร
            
        </button>
    </a>

    </mat-dialog-actions>

</mat-dialog-content>