<div class="background">
    <div class="background-head">
        <img src="../../assets/head_backgroun_long.svg" alt="">
    </div>

    <div class="container">
        <div class="head-icon">
            <div class="icon">
                <img src="../../assets/icon_NTL.svg" alt="">
            </div>
        </div>
        <div class="title">
            <div class="head-details">
                <h2>กรุณายืนยันตัวตน</h2>
                <h2>เพื่อใช้บริการ Tidlor Connect</h2>
            </div>
            <div class="body-details">
                <div class="details">
                    <img src="../../assets/icon_check.svg" alt="">
                    <p>แจ้งเตือนทุกการเคลื่อนไหวของบัญชี</p>
                </div>
                <div class="details">
                    <img src="../../assets/icon_check.svg" alt="">
                    <p>รับข่าวสารและสิทธิประโยชน์ต่างๆ</p>
                </div>
                <div class="details">
                    <img src="../../assets/icon_check.svg" alt="">
                    <p>บริการต่างๆ สำหรับผลิตภัณฑ์สินเชื่อหรือประกัน</p>
                </div>
            </div>
        </div>
    </div>

    <div class="button">
        <button class="confirm" (click)="access_app()"><img src="../../assets/icon_NTL.svg" alt="">ยืนยันตัวตนด้วยแอป เงินติดล้อ </button>
        <button class="cancel" (click)="register()">ไม่มีแอป เงินติดล้อ</button>
    </div>

    <app-footer></app-footer>
</div>
