<div class="background">
    <div class="container" *ngIf="name == 'cross_ntl'">
        <h1>
            การสื่อสารทางการตลาดของเงินติดล้อ (Cross-Sell NTL)
        </h1>
        <div class="div-img">
            <img src="../../assets/cross_to_ntl.png" alt="">
        </div>
        <div class="paragraph">
            <p>
                ความยินยอมให้เงินติดล้อนำเสนอผลิตภัณฑ์หรือบริการ เพื่อให้คุณไม่พลาดโอกาสรับข้อเสนอผลิตภัณฑ์หรือบริการ
                สิทธิพิเศษในการเข้าร่วมกิจกรรมที่เงินติดล้อจัดขึ้น รวมถึง
                ข่าวสาร คำแนะนำที่เป็นประโยชน์และโปรโมชั่นที่คัดสรรอย่าง
                เหมาะสม คุณยินยอมให้เงินติดล้อเก็บรวบรวมใช้และเปิดเผย
                ข้อมูลของคุณ
            </p>
        </div>
    </div>

    <div class="container" *ngIf="name == 'cross_other'">
        <h1>
            การสื่อสารทางการตลาดของกลุ่มธุรกิจทาง
            การเงินและบริษัทในเครือ (Cross-Sell Other)
        </h1>
        <div class="div-img">
            <img src="../../assets/cross_to_other.png" alt="">
        </div>
        <div class="paragraph">
            <p>
                ความยินยอมให้เงินติดล้อพัฒนาผลิตภัณฑ์หรือบริการให้ดียิ่งขึ้น เพื่อให้คุณได้รับบริการที่ถูกใจมากยิ่งขึ้น
                จากการวิเคราะห์ วิจัยทำสถิติและพัฒนา ปรับปรุงผลิตภัณฑ์หรือบริการจาก
                เงินติดล้อ รวมถึงพันธมิตรทางธุรกิจ คุณยินยอมให้เงิน
                ติดล้อเก็บรวบรวม ใช้และเปิดเผยข้อมูลของคุณ
            </p>
        </div>
        <div class="paragraph">
            <p>
                กลุ่มธุรกิจทางการเงิน บริษัท เงินติดล้อ จำกัด (มหาชน)
                สามารถดูรายละเอียดได้ใน Fact Sheet จาก
                <a href="https://www.krungsri.com/bank/th/InvestorRelations/GeneralInformation/FACT-SHEET.html">
                    https://www.krungsri.com/bank/th/
                    InvestorRelations/GeneralInformation/FACT-
                    SHEET.html
                </a>

            </p>
        </div>
    </div>

    <div class="container" *ngIf="name == 'analytics'">
        <h1>
            การวิเคราะห์และการจัดทำสถิติ
            (Analytics)
        </h1>
        <div class="div-img">
            <img src="../../assets/analytics.png" alt="">
        </div>
        <div class="paragraph">
            <p>
                ความยินยอมให้เงินติดล้อพัฒนาผลิตภัณฑ์หรือบริการให้ดียิ่งขึ้น เพื่อให้คุณได้รับบริการที่ถูกใจมากยิ่งขึ้น
                จากการวิเคราะห์ วิจัยทำสถิติและพัฒนา ปรับปรุงผลิตภัณฑ์หรือบริการจาก
                เงินติดล้อ รวมถึงพันธมิตรทางธุรกิจคุณยินยอมให้เงินติดล้อ
                เก็บรวบรวม ใช้และเปิดเผยข้อมูลของคุณ
            </p>
        </div>
    </div>

    <div class="footer-button">
        <button (click)="back()">ย้อนกลับ</button>
    </div>
</div>