<div class="background">
    <div class="dialog">
        <div class="title">
            <div class="head-icon">
                <div class="icon">
                    <img src="../../assets/icon_NTL.svg" alt="">
                </div>
                <img class="check-icon" src="../../assets/icon_check_large.svg" alt="">
            </div>
            <div class="details">
                <h2>คุณเคยสมัครใช้งานแล้ว</h2>
                <p>สามารถใช้งาน Tidlor Connect ได้ตามปกติ</p>
            </div>
        </div>
        <div class="button">
            <button>ใช้งาน Tidlor Connect</button>
        </div>
    </div>
    <app-footer></app-footer>
</div>
