.background {
    width: 100%;
    height: auto;
}

.head-icon {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100px;
    margin-top: 50px;
}

.head-left {
    flex: 46%;
}

.head-center {
    flex: 8%;
    border-radius: 50%;
    background-color: #338efd;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.head-center mat-icon {
    color: white;
    text-align: center;
    line-height: 100px;
    font-size: 50px;
    width: 100px;
    height: 100px;
}

.head-right {
    flex: 46%;
}

h2 {
    font-size: 20px;
    color: black;
}

.body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: auto;
}

.body-left {
    flex: 35%;
}

.body-center {
    flex: 30%;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 70px ;
}

.body-right {
    flex: 35%;
}

.forget {
    display: flex;
    justify-content: center;
    align-items: center;
}

.pin-input-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: auto;
  }
  
  mat-card {
    padding: 20px;
    text-align: center;
  }
  
  .pin-header {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .forget mat-icon {
    font-size: 20px;
    margin-top: 5px;
    margin-right: 5px;
  }

  .forget h2 {
    font-size: 16px;
  }
  
  .pin-circles {
    display: flex;
    justify-content: space-between;
    gap: 15px;
    margin: 10px;
  }
  
  .pin-circles div {
    width: 20px;
    height: 20px;
    border: 2px solid black;
    border-radius: 50%;
    background-color: #fff;
  }
  
  .pin-circles .filled {
    background-color: #ccc;
  }
  
  .pin-buttons {
    display: grid;
    grid-template-columns: auto auto auto;
    justify-content: center;
  }
  
  .pin-buttons button {
    width: 60px;
    height: 60px;
    margin: 5px;
    font-size: 24px;
  }
  