.pin-input-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }
  
  mat-card {
    padding: 20px;
    text-align: center;
  }
  
  .pin-header {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .pin-header mat-icon {
    margin-right: 10px;
  }
  
  .pin-circles {
    display: flex;
    justify-content: space-between;
    margin: 20px 0;
  }
  
  .pin-circles div {
    width: 20px;
    height: 20px;
    border: 2px solid black;
    border-radius: 50%;
    background-color: #fff;
  }
  
  .pin-circles .filled {
    background-color: #ccc;
  }
  
  .pin-buttons {
    display: grid;
    grid-template-columns: auto auto auto;
    justify-content: center;
  }
  
  .pin-buttons button {
    width: 60px;
    height: 60px;
    margin: 5px;
    font-size: 24px;
  }
  