<div class="pin-input-container">
    <mat-card>
      <div class="pin-header">
        <mat-icon>lock</mat-icon>
        <h2>Please Enter Your PIN</h2>
      </div>
      <div class="pin-circles">
        <div *ngFor="let pin of pins" [ngClass]="{'filled': pin !== ''}"></div>
      </div>
      <div class="pin-buttons">
        <button mat-button *ngFor="let num of numbers" (click)="addPin(num)">
            {{ num }}
        </button>
        <button mat-button>
            <mat-icon>face</mat-icon>
          </button>
        <button mat-button (click)="addPin(0)">
            {{ 0 }}
        </button>
        <button mat-button (click)="removePin()">
          <mat-icon>backspace</mat-icon>
        </button>
      </div>
    </mat-card>
  </div>
  