<div class="background">
    <div class="background-head">
        <img src="../../assets/head_backgroun_long.svg" alt="">
    </div>

    <div class="container">
        <div class="head-icon">
            <div class="div-icon">
                <div class="icon">
                    <img src="../../assets/icon_NTL.svg" alt="">
                </div>
                <div class="text">
                    <p>LINE </p>
                    <p>Tidlor Connect</p>
                </div>
            </div>

            <div class="process">
                <img src="../../assets/icon_dot.svg" alt="">
                <img src="../../assets/icon_process.svg" alt="">
                <img src="../../assets/icon_dot.svg" alt="">
            </div>

            <div class="div-icon">
                <div class="icon">
                    <img src="../../assets/icon_NTL.svg" alt="">
                </div>
                <div class="text">
                    <p>แอปฯ </p>
                    <p>“เงินติดล้อ”</p>
                </div>
            </div>
        </div>
        <div class="title">
            <div class="head-details">
                <h2>คุณอนุญาตให้เข้าถึงแอปฯ “เงินติดล้อ” </h2>
            </div>
            <div class="body-details">
                <div class="details">
                    <img src="../../assets/icon_check.svg" alt="">
                    <p>เพื่อใช้บริการ LINE Tidlor Connect</p>
                </div>
                <div class="details">
                    <img src="../../assets/icon_check.svg" alt="">
                    <p>เพื่อดูรายละเอียดหรือทำรายการอื่นๆ ต่อบน
                        แอปฯ เงินติดล้อ</p>
                </div>
            </div>
        </div>
    </div>

    <div class="button">
        <button class="cancel" (click)="toverify()">ยกเลิก</button>
        <button class="confirm" >อนุญาต</button>
    </div>

    <app-footer></app-footer>
</div>
