<div class="background">
    <div class="head-icon">
        <div class="head-left">
            
        </div>
        <div class="head-center">
            <mat-icon>lock</mat-icon>
        </div>
        <div class="head-right">
            
        </div>
    </div>

    <div class="body">
        <div class="body-left">
    
        </div>
        <div class="body-center">
            <h2>ลงทะเบียนการใช้บริการ Tidlor Connect</h2>
        </div>
        <div class="body-right">
    
        </div>
    </div>
</div>
